@charset "utf-8";
/* CSS Document */
    .top{ width:1920px;
		  height:616px;
		  margin:0 auto;
		  position:relative;}
	/*head*/
	.tops{ width:100%;
		   height:30px;
		   background:#FAFAFA;
		   box-shadow:0 1px 1px 0px #CCCCCC;}
	.top1{ width:1200px;
		   height:30px;
		   margin:0 auto; 
		   }
	.top1 ul li div{ float:left;
					 font-size:12px;
					 line-height:30px;}
	.top2{ width:15px;
		   height:15px;
		   background:url(img/xin.png) no-repeat;
		   margin-top:7px;}
	.top1 a{ font-size:12px;
			 float:left;
			 color:#000;}
	.top1 a:hover{ color:orange;}
	.top1 ul li a:hover{ color:orange;}
	.top4{ width:90px;
		   height:30px;
		   margin-left:463px;
		   position:relative;
		   float:left;
		   }
	.top4:hover{ background:#FFF;}
	.top4 a:hover{ text-decoration:underline;}
	.top5{ width:13px;
		   height:15px;
		   background:url(img/tou.png) no-repeat;
		   margin-top:7px;
		   margin-left:6px;}
	.top7{ width:17px;
		   height:17px;
		   background:url(img/icon-189-indexv2.png) no-repeat -282px -839px;
		   margin-top:14px;
		   margin-left:2px;}
	.top8{ width:90px;
		   height:90px;
		   outline:1px solid #CCC;
		   background:#FFFFFF;
		   position:absolute;
		   display:none;
		   z-index:250;}
	.top9{ width:17px;
		   height:17px;
		   background:url(img/icon-189-indexv2.png) no-repeat -318px -839px;
		   margin-top:14px;
		   margin-left:2px;
		   }
	.top4:hover .top8{ display:block;}
	.se{ background:url(img/separator.png) no-repeat;
		 margin-left:0;}
	.top0{ width:90px;
		   height:30px;}
	.top10{ width:12px;
		    height:14px;
			background:url(img/%E6%89%8B%E6%9C%BA.png) no-repeat;
			margin-top:8px;
			margin-left:5px;}
	.top12{ width:209px;
			height:94px;
			outline:1px solid #CCC;
			background:#FFFFFF;
			background:url(img/happygo.jpg) no-repeat;
			display:none;
			position:absolute;
			top:30px;
			z-index:350;}
	.top0:hover .top12{ display:block;}
	.top13{ width:16px;
			height:14px;
			background:url(img/%E4%BF%A1%E5%B0%81.png) no-repeat;
			margin-top:7px;
			margin-left:10px;}
	.top14{ width:12px;
			height:16px;
			background:url(img/%E9%A2%86%E5%B8%A6.png) no-repeat;
			margin-top:7px;
			margin-left:10px;}
	.top15{ width:120px;
			height:30px;
			margin-left:2px;}
	.top17 a:hover{ text-decoration:underline;}
	.top16{ width:18px;
			height:17px;
			background:url(img/%E6%9C%80%E5%90%8E.png) no-repeat;
			margin-top:7px;
			margin-left:8px;
			}
	.top17{ width:120px;
			height:150px;
			box-shadow:0px 1px 0px 1px #CCCCCC;
			background:#FFFFFF;
			display:none;
			position:absolute;
			z-index:280;}
	.top18{ width:120px;
			height:120px;
			background:url(img/cost.jpg) no-repeat 15px 15px;}
	.top15:hover .top17{ display:block;}
	.cen{ width:1200px;
	      height:120px;
		  margin:0 auto;}
	.cen div{ float:left;}
	.cen1{ width:223px;
		   height:80px;
		   background:url(img/logo.png) no-repeat;
		   margin-top:20px;}
	.cen3{ width:80px;
		   height:25px;
		   outline:1px solid #CCC;
		   margin-top:53px;
		   margin-left:20px;
		   position:relative;}
	.cen3 span{ font-size:12px;
				margin-left:10px;}
	.cen3 div{ float:left;}
	.cen4{ width:15px;
		   height:15px;
		   background:url(img/%E4%B8%8B%E8%A1%A8.png) no-repeat -10px -8px;
		   margin-left:20px;
		   margin-top:4px;}
	.cen5{ width:80px;
		   height:25px;
		   outline:1px solid #CCC;
		   margin-top:10px;
		   z-index:332;}	
	.cen6{ width:400px;
		   height:110px;
		   outline:1px solid #CCC;
		   background:#FFFFFF;
		   display:none;
		   margin-top:25px;
		   position:absolute;
		   z-index:300;}
	.cen7{ width:400px;
		   height:26px;
		   line-height:26px;}
	.cen8{ color:#F00;}
	.cen3:hover .cen6{ display:block;
					   }
	.cen9 a{ color:#000;
			 padding-left:8px;}
	.cen6 a:hover{ color:orange;}
		.cen10{ width:550px;
		    height:91px;
			position:relative;
			left:30px;
			top:15px;}
	.cen11 div{ width:80px;
		 		height:32px;
				text-align:center;
				line-height:32px;
				font-family:"微软雅黑";
				font-size:12px;
				color:#777777;
		 		float:left;
				display: list-item;}
	#d1 {		background:#ff8200;
				color:white;}
	/*#d2:target{ background:orange;
				color:white;}*/
	.cen12{ width:500px;
		 	height:32px;
			border: 2px solid #ff8200;
			z-index:222;}
	.cen13{ width:90px;
		 	height:32px;
			background:#ff8200;
			color:white;
			cursor:pointer;
			line-height:32px;
			text-align:center;
			float:right;}
	.cen14{ width:550px;
			height:16px;
			position:relative;
			top:3px;
			overflow:hidden;}
	.cen14 ul li{ width:100%;
				  height:16px;
				  line-height:16px;}
	.cen14 ul:hover{ animation-play-state:paused;}
	.cen14 ul li span{ float:left;
					   font-size:0.75em;
					   color:#777777;
					   cursor:pointer;
					   line-height:16px;
					   padding-left:10px;}
	.cen14 ul{ width:550px;
			   height:48px;
			   position:absolute;
			   top:0;
			   left:0;
			   animation:gg 10s infinite linear;}
	@keyframes gg{ 0%{ top:0px;}
				   45%{ top:0px;}
				   49%{ top:-16px;}
				   89%{ top:-16px;}
				   93%{ top:-32px;}
				   93.0000001%{ top:0px;}}
	.d3{ width:253px;
		 height:76px;
		 outline:1px solid;
		 position:absolute;
		 left:1300px;
		 top:50px;
		 z-index:260;
		 overflow:hidden;}
	.d3 ul:hover{ animation-play-state:paused;}
	.d3 ul{ width:100%;
			height:100%;
			animation:rng 10s infinite linear alternate;}
	@keyframes rng{ 0%{ margin-top:0px}
					 50%{ margin-top:0px}
					 53%{ margin-top:-80px}
					 100%{ margin-top:-80px}}
    .a1{ width:100%;
		 height:45px;
		 background:#FF8200;
		 margin:0 auto;}
	.a2{ width:1200px;
		 height:45px;
		 margin:0 auto;
		 z-index:290;}
	.a2 ul li{ float:left;}
	.a3{ width:191px;
		 height:45px;
		 background:url(img/icon-189-indexv2.png) no-repeat -223px -716px;
		 cursor:pointer;}
	.a4{ width:150px;
		 height:45px;
         margin-left:10px;}
	.a5{ width:30px;
		 height:45px;
		 background:url(img/icon-189-indexv2.png) no-repeat -217px -519px;
		 visibility:hidden;}
	.a6:hover .a5{ visibility:visible;}
	.a2 ul li div{ float:left;}
	.a2 a{ line-height:45px;
		   color:white;}
	.a4 a:hover{ font-weight:bold;}
	.a6{ width:150px;
		 height:45px;
		 margin-left:-30px;}
    .a6 a:hover{ font-weight:bold;}	
	.a6 a{ width:120px;
		   height:45px;
		   }
	.a8{ width:60px;
		 height:45px;
		 margin-left:300px;}
	.a9{ width:16px;
		 height:15px;
		 background:url(img/icon-189-indexv2.png) no-repeat -231px -186px;
		 margin-top:15px;}
	.a8 a{ font-size:12px;
		   line-height:45px;
		   margin-left:5px;
		   cursor:pointer;}
	.a8 a:hover{ text-decoration:underline;}
	/*head*/
	/*大轮播*/
	.b1{ width:1920px;
		 height:421px;
		 margin:0 auto;}
	.b2{ width:1920px;
		 height:425px;
		 position:absolute;
		 margin:0 auto;
		 overflow:hidden;
		 z-index:200;}
	.b2 ul li{ float:left;
			   width:1920px;
			   height:425px;}
	.b2 ul{ width:11520px;
			height:425px;
			position:absolute;
		    top:0;
		    left:0;
		    animation:big 15s infinite linear;}
	.b2 ul:hover{ animation-play-state:paused;}
	@keyframes big{ 0%{ left:0px;}
					19%{ left:0px;}
					19.000001%{ left:-1920px;}
					38%{ left:-1920px;}
					38.000001%{ left:-3840px;}
					57%{ left:-3840px;}
					57.000001%{ left:-5760px;}
					76%{ left:-5760px;}
					76.000001%{ left:-7680px;}
					95%{ left:-7680px;}
					95.000001%{ left:-9600px;}
					95.00001%{ left:0px;}}
	/*大轮播*/
	/*轮播左*/
	.ba{ width:1200px;
		 height:421px;
		 margin:0 auto;
		 position:absolute;
		 top:620px;
		 left:360px;
		 z-index:300;}
	.b3{ width:191px;
		 height:420px;
		 position:absolute;
		 top:-425px;
		 float:left;
		 position:relative;
		 z-index:332;}
	.b3 ul li{ width:191px;
			   height:58px;
			   border:1px solid #e8e8e8;
			   background:#fafafa;}
	.b3 ul li div{ float:left;}
	.b4{ width:60px;
		 height:59px;
		 background:url(img/icon-189-indexv2.png) no-repeat -6px -39px;}
	.b3 a{ width:28px;
		   height:60px;
		   line-height:60px;
		   font-size:14px;
		   color:#000;}
	.b3 ul li:hover{ background:white;} 
	.b3 a:hover{ color:orange;}
	.b6{ width:15px;
		 height:15px;
		 background:url(img/icon-189-indexv2.png) no-repeat -175px -63px;
		 margin-top:25px;
		 margin-left:80px;
		 display:block;}
	.b7{ width:600px;
		 height:560px;
		 background:#FFFFFF;
		 margin-left:191px;
		 display:none;
		 position:absolute;
		 z-index:330;
		 box-shadow:4px 4px 5px 0px #CCCCCC;}
	li:hover .b6{ display:none;}
	li:hover .b7{ display:block;}
	.b7 ul li{ width:560px;
			   height:52px;
			   margin:auto;
			   border:0px;
			   line-height:52px;
			   background:#FFFFFF;}
	.b7 span{ float:left;
			  font-size:12px;
			  color:#999;
			  padding-left:10px;}
	.b7 a{ font-size:12px;
		   line-height:52px;
		   color:#999;}
	.b8{ width:60px;
		 height:59px;
		 background:url(img/icon-189-indexv2.png) no-repeat -1px -150px;}
	.b9{ width:60px;
		 height:59px;
		 background:url(img/icon-189-indexv2.png) no-repeat -1px -262px;}
	.b10{ width:60px;
		 height:59px;
		 background:url(img/icon-189-indexv2.png) no-repeat -1px -372px;}
	.b11{ width:60px;
		 height:59px;
		 background:url(img/icon-189-indexv2.png) no-repeat -1px -483px;}
	.b12{ width:60px;
		 height:59px;
		 background:url(img/icon-189-indexv2.png) no-repeat -1px -593px;}
	.b13{ width:60px;
		 height:59px;
		 background:url(img/icon-189-indexv2.png) no-repeat -1px -705px;}
	hr{ width:560px;
		height:0px;
		border:none;
		border-top:1px solid #F3F3F3;
		margin:auto;}
	/*轮播左*/
	/*小轮播*/
	.c0{ width:1920px;
		 height:222px;
		 position:relative;
		 top:-620px;
		 z-index:200;}
	.c1{ width:1200px;
		 height:222px;
		 margin:0 auto;
		 position:absolute;
		 left:360px;
		 top:645px;}
	.c1 div{ float:left;
	         z-index:320;}
	.c2 ul li{ float:left;
			   width:251px;
			   height:110px;
			   padding-left:1px;
			   padding-top:1px;
			   cursor:pointer;}
	.c2{ width:1008px;
		 height:222px;
		 position:relative;
		 position:absolute;
		 left:190px;
		 z-index:100;
		 overflow:hidden;;}
	.c2 ul{ width:3024px;
		height:222px;
		position:absolute;
		top:0;
		left:0;
		animation:move 20s infinite linear;}
	@keyframes move{ 0%{ left:0px;}
					 30%{ left:0px;}
					 33%{ left:-1008px;}
					 63%{ left:-1008px;}
					 66%{ left:-2016px;}
					 96%{ left:-2016px;}
					 96.00001%{ left:0px;}}
	/*小轮播*/
	.bc{ width:224px;
		 height:409px;
		 border:1px solid #e4e4e4;
		 background:#fff;
		 float:right;
		 display:inline;
		 position:relative;
		 top:-418px;
		 z-index:333;}
	.bd{ width:224px;
		 height:29px;
		 background:#CCCCCC;}
	.bd div{ float:left;
			 color:#777777;
			 line-height:29px;}
	.be{ width:105px;
		 height:29px;}
	.bf{ width:29px;
		 height:29px;
		 background:url(img/icon-189-indexv2.png) no-repeat -216px -217px;
		 color:#777777;}
	.be span{ line-height:29px;}
	.bg{ width:29px;
		 height:29px;
		 background:url(img/icon-189-indexv2.png) no-repeat -216px -288px;}
	.bh{ width:105px;
		 height:29px;
		 display:block;}
	.bh:hover .bh{ display:none;}
	.bm{ width:29px;
		 height:29px;
		 background:url(img/icon-189-indexv2.png) no-repeat -217px -324px;}
	.bl{ width:105px;
		 height:29px;
		 margin-top:-29px;
		 display:none;}
	.bl span{ color:orange;}
	.bh:hover .bl{ display:block;}
	.bk{ width:224px;
		 height:165px;
		 background:white;
		 padding-top:20px;}
	.bk div{ float:left;
			 padding-left:20px;}
	.bk span{ display:block;
		 	  font-size:12px;}
	.bh .bk{ display:none;
			 position:absolute;
			 top:29px;
			 left:0px;}
	.bh:hover .bk{ display:block;}
	.bn{ width:224px;
		 height:2px;
		 background:url(img/icon-189-indexv2.png) no-repeat -199px -569px;}
	.right{ width:224px;
			height:100px;}
	.right div{ float:left;
				padding-left:15px;
				font-size:12px;
				color:#777777;
				padding-top:5px;}
	.right span:hover{ color:orange;}
	.right2{ width:224px;
			 height:30px;}
	.right3{ margin-top:-70px;
			 margin-left:10px;} 
	.right3 span{ font-size:12px;
				  color:#777777;
				  cursor:pointer;}
	.right4{ width:80px;
			 height:20px;
			 position:absolute;
			 top:310px;
			 left:40px;}
	.right5{ width:110px;
			 height:110px;
			 background:white;
			 display:none;
			 position:absolute;
			 z-index:600;}
	.right5 ul li{ padding-top:10px;}
	.right5 span{ padding-left:10px;} 
	.right4:hover .right5{ display:block;}
	.right6{ width:100px;
			 height:25px;
			 background:#ff8201;
			 position:absolute;
			 top:350px;
			 left:10px;
			 border-radius:4px;}
	.right6 span{ font-size:12px;
			 	  line-height:25px;
				  color:white;
				  margin-left:20px;}
	.right7{ font-size:12px;
			 color:#777777;
			 margin-top:78px;
			 margin-left:140px;}
	.right7 span:hover{ color:#ff8201;
						cursor:pointer;}
	.right8{ width:224px;
			 height:16px;
			 margin-top:5px;}
	.right9{ width:44px;
			 height:16px;}
	.right10{ width:16px;
			  height:16px;
			  background:url(img/icon-189-indexv2.png) no-repeat -279px -639px;}
	.right9 div{ float:left;} 
	.right11{ font-size:12px;
			  color:#777777;}
	.right12{ width:16px;
			  height:16px;
			  background:url(img/icon-189-indexv2.png) no-repeat -219px -639px;}
	.right13{ width:44px;
			  height:16px;
			  margin-top:-16px;
			  display:none;}
	.right11:hover{ color:orange;}
	.right9:hover .right13{ display:block;}
	.right14{ width:147px;
			  height:30px;
			  /*outline:1px #000000 dashed;*/
			  float:right;
		      margin-right:25px;
			  overflow:hidden;
			  margin-top:-24px;}
	.right14 ul{ width:8400px;
				 height:30px;
				 /*outline:1px dashed #000000;*/
				 animation:right 120s linear infinite;}
	.right14:hover ul{ animation-play-state:paused;}
	.right14:hover li{ cursor:pointer;}
	@keyframes right{ 0%{ margin-left:0px;}
					  100%{ margin-left:-4200px;}}
	.right14 li{ float:left;
				 color:#777777;
				 font-size:9px;
				 line-height:30px;
				 margin:0px 5px;}
	.right14 li:hover{ color:orange;}
	.da{ width:1920px;
		 height:470px;
		 margin:0 auto;}
	.db{ width:1200px;
		 height:470px;
		 margin:50px auto;}
	.dc{ width:1200px;
		 height:50px;}
	.dc div{ float:left;}
	.dd{ width:220px;
		 height:50px;
		 margin-left:0px;}
	.de{ width:250px;
		 height:50px;
		 font-size:0.85em;
		 margin-left:30px;
		 margin-top:23px;
		 color:#777777;}
	.df{ width:1200px;
		 height:420px;
		 outline:1px solid #CCCCCC;
		 position:absolute;}
	.df ul li{ float:left;}
	.dg{ width:190px;
		 height:420px;}
	.dh{ width:190px;
		 height:100px;
		 background:#ffba24;}	
	.dh div{ float:left;}
	p{ width:90px;
		 height:25px; 
		 font-size:12px;
		 font-weight:700;
		 color:white;
		 position:absolute;
	 	 top:65px;
		 left:17px;}
	.dk{ margin-top:15px;
		 margin-left:22px;
		 transition:1s;
		 position:relative;
		 z-index:650;}
	.dk:hover{ transform:rotate(360deg);}
	.dj{ width:5px;
		 height:100px;
		 background:url(img/icon-189-indexv2.png) no-repeat -397px -198px;
		 margin-left:30px;} 
	.dl{ margin-left:95px;}
	.di{ width:190px;
		 height:320px;
		 background:#feda60;}
	.dm{ width:160px;
		 height:145px;
		 position:absolute;
		 top:130px;
		 left:20px;
		 transition:0.5s;}
	.dm:hover{ transform:translateX(-8px);}
	.dn{ width:190px;
		 height:5px;
		 background:url(img/icon-189-indexv2.png) no-repeat -254px -866px;
		 position:absolute;
		 top:300px;
		 left:30px;}
	.do{ width:202px;
		 height:254px;
		 position:relative;
		 outline:1px solid #CCCCCC;}
	.dp{ font-size:0.85em;
		 font-weight:600;
		 position:absolute;
		 top:30px;
		 left:15px;}
	.dq{ font-size:0.75em;
		 color:#777777;
		 position:absolute;
		 top:50px;
		 left:35px;}
	.dr{ position:absolute;
		 top:80px;
		 left:35px;
		 transition:0.5s;}
	.dr:hover{ transform:translateX(-8px);}
	.ds{ width:202px;
		 height:166px;
		 position:relative;
		 outline:1px solid #CCCCCC;}
	.dt{ font-size:0.85em;
		 font-weight:600;
		 position:absolute;
		 top:10px;
		 left:58px;}
	.du{ font-size:0.85em;
		 color:#777777;
		 position:absolute;
		 top:30px;
		 left:15px;}
	.dv{ position:absolute;
		 top:55px;
		 left:35px;
		 transition:0.5s;}
	.dv:hover{ transform:translateX(-8px);}
	.dw{ font-size:0.85em;
		 color:#777777;
		 position:absolute;
		 top:45px;
		 left:90px;}
	.dy{ width:202px;
		 height:420px;
		 outline:1px solid #CCCCCC;
		 position:relative;}
	.di span{ width:200px;
			  height:20px;
			  position:absolute;
		      top:180px;
			  left:5px;}
	.di span a{ font-size:12px;
		   		color:white;
				font-weight:600;
		   		padding:12px;}
	.di span a:hover{ text-decoration:underline;}
	.d5{width:1920px;
		height:55px;
		margin:50px auto;}
	.d6{ width:1200px;
		 height:55px;
		 margin:0 auto;}
	.d7 div{ float:left;}
	.d7 span{ display:block;}
	.d7 img{ padding-left:50px;}
	.d8{ font-size:20px;
		 color:#777777;}
	.d9{ font-size:16px;
		 color:#777777;}
	.con1{ width:1920px;
		   height:500px;
		   margin:0 auto;}
	.con2{ width:1200px;
		   height:150px;
		   margin:0 auto;}
	.con2 div{ float:left;}
	.con3{ padding-left:50px;}
	.con4{ font-size:14px;
		   font-weight:600;
		   color:#777777;}
	.con3 a{ display:block;
				font-size:14px;
				color:#777777;}
	.con3 a:hover{ color:orange;}
	.con5{ margin-left:20px;}
	.con6{ width:150px;
		   height:90px;
			position:absolute;
			left:1400px;}
	.con6 span{ display:block;
				font-size:12px;
				color:#777777;}
	.con7{ width:44px;
		   height:44px;
		   transition:0.8s;}
	.con7:hover{ transform:rotate(360deg);}
	.foot{ width:1200px;
		   height:120px;
		   margin:0 auto;
		   position:relative;}
	.foot span{ font-size:12px;
				color:#777777;
				cursor:pointer;}
	.foot1{ font-size:14px;
			font-weight:bold;}
	#cb{ display:none;}
	#foot3{ display:none;}
	#foot4{ position:absolute;
			right:20px;
			top:50px;
			display:block;}
	#foot5{ position:absolute;
			right:20px;
			top:50px;
			display:none;}
	#cb:checked ~ #foot3{ display:block;}
	#cb:checked ~ #foot4{ display:none;}
	#cb:checked ~ #foot5{ display:block;}
	.foot6{ position:absolute;
			left:650px;}
	.foot6 span{ font-size:12px;
				 color:#777777;}
	.foot7{ position:absolute;
			left:680px;
			bottom:70px;}
	aside{ position:fixed;
		   right:0;
		   bottom:0;}
	#cc{ width:16px;
		 height:16px;
		 border-radius:8px;
		 position:absolute;
		 right:7px;
		 top:7px;}
	#ce{ display:none;}
	#cd{ display:block;}
	#ce:checked ~ #cd{ display:none;}
	